/* 2025年12月17日修正 */
.wrapper {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

/* ===============================================
  共通
 =============================================== */
.recipe_row {
  display: flex;
}

.recipe_detail_area {
  margin-bottom: 6rem;
}

/* ===============================================
  メインビジュアル
 =============================================== */
.recipe_detail_image_item {
  height: 70rem;
  width: 60rem;
  display: block;
  object-fit: cover;
}

/* ===============================================
 タイトル、説明文、材料 
 =============================================== */
.recipe_detail_main_item {
  flex: 1;
  height: 70rem;
  padding: 3.5rem 6rem 0 6rem;
}

/* ひよこ豆とアボガドのタコス */
.recipe_detail_title {
  display: block;
  height: 3.7rem;
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.3rem;
}

/* ひよこ豆とアボガドのタコス  説明*/
/* 2025年12月17日修正 */
.recipe_detail_description {
  max-width: 48rem;
  line-height: 2.4rem;
  display: block;
  font-size: 1.6rem;
  margin-bottom: 3.4rem;
}

/* ===============================================
 材料（2人分） & 作り方 共通
 =============================================== */
.recipe_material_container {
  width: 100%;
}

/* ===============================================
 材料（2人分）
 =============================================== */

/* タイトル　材料(二人分) */
.recipe_material_title {
  height: 2.7rem;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2.2rem;
  border-bottom: 1px solid #ccc;
}

/* 材料 仲介のみ親要素・フレックスなし*/
.recipe_material_card {
  margin-bottom: 4rem;
}

.recipe_material_item {
  display: flex;
  justify-content: space-between;
  height: 2.2rem;
  /* 下線１px含む */
  font-size: 1.6rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.7rem;
}

.recipe_material_item:last-child {
  margin-bottom: 0;
}

/* ===============================================
 作り方
 =============================================== */

/* タイトル　作り方 */
.recipe_how_make_title {
  height: 2.7rem;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

/* 作り方 仲介のみ親要素・フレックスなし*/
.recipe_how_make_card {
  margin-bottom: 4rem;
}

.recipe_how_make_list {
  /* 連番を表示 */
  list-style: decimal;
  /* ✅ 連番分パディング */
  padding-left: 1.5rem;
}

.recipe_how_make_item {
  border-bottom: 1px solid #ccc;
  height: 2.1rem;
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
}

.recipe_how_make_item:last-child {
  margin-bottom: 0rem;
}

/* ===============================================
 レシピ一覧を見る
 =============================================== */
.recipe_list_area {
  margin-bottom: 10rem;
}

.recipe_list_lines {
  width: 23.2rem;
  height: 5rem;
  border: 1px solid #000;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe_list_word_link {
  text-align: center;
  font-size: 1.4rem;
  color: #000;
}

/* ===============================================
 フッター
 =============================================== */

.footer_sns_list {
  display: flex;
  justify-content: center;
  gap: 2.1rem;
  margin-bottom: 2rem;
}

.footer_sns_link {
  font-size: 1.2rem;
  color: #000;
  height: 1.4rem;
  border-bottom: 2px solid #ccc;
}

.footer_copyright {
  text-align: center;
  font-size: 1.2rem;
}

/* ===============================================
 ★　レスポンシブ　★　
 =============================================== */

@media screen and (max-width: 699.98px) {

  /* 2025年12月17日修正 */
  .wrapper {
    /* width: 100%; 削除 */
  }

  /* レスポンシブ　タイトル、説明文、材料ーレシピ一覧まで */
  .recipe_detail_area {
    /* 作り方からレシピ一覧リンクまでの隙間 */
    margin-bottom: 6.5rem;
  }


  .recipe_row {
    display: flex;
    flex-direction: column;
    /* メインビジュアル画像と、タイトル、説明文、材料の間の隙間 */
    gap: 3.6rem;
  }

  /* レスポンシブ　メインビジュアル画像 */
  .recipe_detail_image_item {
    flex: none;
    height: 46.9rem;
    width: 37.5rem;
    display: block;
    object-fit: cover;
  }

  /* ===============================================
  ★　レスポンシブ　★　タイトル、説明文、材料 
 =============================================== */

  /* recipe_rowからフレックスでうける */
  .recipe_detail_main_item {
    width: 100%;
    height: 5rem;
    padding: 0rem 1.97rem;
  }

  /* ひよこ豆とアボガドのタコス */
  .recipe_detail_title {
    font-size: 2.8rem;
    text-align: left;
    width: 100%;
    height: 8rem;
    margin-bottom: 1.3rem;
  }

  /* ひよこ豆とアボガドのタコス  説明*/
  /* 2025年12月17日修正 */
  .recipe_detail_description {
    height: 6.9rem;
    margin: 0 auto;
    width: 100%;
    text-align: left;
    margin-bottom: 3.4rem;
    /* font-size: 1.6rem; 削除 */
  }

  /* ===============================================
 材料（2人分） & 作り方 共通
 =============================================== */

  .recipe_material_card {
    margin-bottom: 4rem;
  }

  /* タイトル　材料(二人分) */
  .recipe_material_title {
    width: auto;
    font-weight: bold;
  }

  .recipe_how_make_card {
    margin-bottom: 0;
  }
}