.wrapper {
  width: 120rem;
  max-width: 120rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* ===============================================
  XXXXXX
 =============================================== */
.recipe_row {
  display: flex;

  justify-content: space-between;
}

.recipe_detail_erea {
  margin-bottom: 6rem;
}
/* ===============================================
  メインビジュアル
 =============================================== */
.recipe_detail_image_item {
  flex: 1;
  height: 70rem;
  display: block;
}

/* ===============================================
 タイトル、説明文、材料 
 =============================================== */
.recipe_detail_main_item {
  flex: 1;
  height: 70rem;
}

/* ひよこ豆とアボガドのタコス */
.recipe_detail_title {
  /* width: 28.6rem; */
  display: block;
  font-size: 2.8rem;
  letter-spacing: 0;
  font-weight: bold;
  margin: 3.6rem auto 1.3rem;
  text-align: center;

  padding: 0;
}

/* ひよこ豆とアボガドのタコス */
.recipe_detail_discription {
  width: 36.1rem;
  display: block;
  font-size: 1.6rem;

  margin: 0 auto 3.4rem;
  text-align: left;
}

/* ===============================================
 材料
 =============================================== */

/* タイトル　材料(二人分) */
.recipe_material_title {
  width: 48rem; /*60rem - (6rem + 6rem)*/
  margin: 0 auto;
  font-size: 2rem;
  margin-bottom: 2.2rem;
  border-bottom: 1px solid #ccc;
}

.recipe_material_card {
  width: 48rem; /*60rem - (6rem + 6rem)*/
  margin: 0 auto;
  margin-bottom: 4rem;
}

.recipe_material_item {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #ccc;

  /* border: 1px solid #000; */
}

/* ===============================================
 作り方
 =============================================== */

/* タイトル　作り方 */
.recipe_how_make_title {
  width: 48rem; /*60rem - (6rem + 6rem)*/
  margin: 0 auto;
  font-size: 2rem;
  margin-bottom: 2.2rem;
  border-bottom: 1px solid #ccc;
}

.recipe_how_make_card {
  width: 46rem; /*ここは連番の要素数値から、メイン画像のサイズがはかれてないため、暫定の数値*/
  margin: 0 auto;
  margin-bottom: 4rem;
}

.recipe_how_make_list {
  border-bottom: 1px solid #ccc;
  list-style: decimal; /* 連番を表示 */
}

.recipe_how_make_item {
  border-bottom: 1px solid #ccc;
}

/* ===============================================
 レシピ一覧を見る
 =============================================== */
.recipe_List_lines {
  width: 23.2rem;
  height: 5rem;

  border: 1px solid #000;
  text-align: center;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe_List_word_link {
  font-size: 1.4rem;
  color: #000;
}
