.wrapper {
  width: 120rem;
  max-width: 120rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* ===============================================
  XXXXXX
 =============================================== */
.recipe_row {
  display: flex;

  justify-content: space-between;
}

.recipe_detail_erea {
  margin-bottom: 6rem;
}
/* ===============================================
  メインビジュアル
 =============================================== */
.recipe_detail_image_item {
  flex: 1;
  height: 70rem;
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ===============================================
 タイトル、説明文、材料 
 =============================================== */
.recipe_detail_main_item {
  flex: 1;
  height: 70rem;
  margin-right: 2.1rem;
}

/* ひよこ豆とアボガドのタコス */
.recipe_detail_title {
  /* width: 28.6rem; */
  display: block;
  height: 3.7rem;
  font-size: 2.8rem;
  letter-spacing: 0;
  font-weight: bold;
  margin: 3.6rem auto 1.3rem;
  text-align: center;

  padding: 0;
}

/* ひよこ豆とアボガドのタコス  説明*/
.recipe_detail_discription {
  width: 48rem; /*60rem - (6rem + 6rem)*/
  height: 4.5rem;
  margin: 0 auto;

  display: block;
  font-size: 1.6rem;

  text-align: left;
  margin-bottom: 3.4rem;
}

/* ===============================================
 材料（2人分） & 作り方 共通
 =============================================== */
.recipe_material_container {
  width: 51.9rem; /*51.9rem - (6rem + 2.1rem)*/
  margin-right: 2.1rem;
  margin-left: 6rem;
}

/* ===============================================
 材料（2人分）
 =============================================== */

/* タイトル　材料(二人分) */
.recipe_material_title {
  height: 2.7rem;

  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2.2rem;

  border-bottom: 1px solid #ccc;
}

.recipe_material_card {
  width: 51.9rem; /*51.9rem - (6rem + 2.1rem)*/
  margin-bottom: 4rem;
}

.recipe_material_item {
  display: flex;
  justify-content: space-between;

  height: 2.1rem;
  font-size: 1.6rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.7rem;

  /* border: 1px solid #000; */
}

/* ===============================================
 作り方
 =============================================== */

/* タイトル　作り方 */
.recipe_how_make_title {
  height: 2.7rem;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.recipe_how_make_card {
  margin-bottom: 4rem;
}

.recipe_how_make_list {
  border-bottom: 1px solid #ccc;
  list-style: decimal; /* 連番を表示 */
  padding-left: 1.5rem; /* ✅ これを追加 */
}

.recipe_how_make_item {
  border-bottom: 1px solid #ccc;
  height: 2.1rem;
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
}

.recipe_how_make_item:last-child {
  margin-bottom: 0rem;
}

/* ===============================================
 レシピ一覧を見る
 =============================================== */
.recipe_List_erea {
  margin-bottom: 10rem;
}

.recipe_List_lines {
  width: 23.2rem;
  height: 5rem;

  border: 1px solid #000;
  text-align: center;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe_List_word_link {
  font-size: 1.4rem;
  color: #000;
}

/* ===============================================
 フッター
 =============================================== */

.footer_sns_list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer_sns_link {
  font-size: 1.2rem;
  color: #000;
  height: 1.4rem;
  border-bottom: 2px solid #ccc;
}

.footer_copyright {
  text-align: center;
  font-size: 1.2rem;
}
